page-login {
.login{
  background-image: url("/assets/imgs/login1.png");
  background-size: cover ;


}

  .login-btn{

  }



  .logo-icon{
    margin: 10px;
    height: 93px;
    width: 365px;
    background-size: 335px,93px;
    background-repeat: no-repeat;

    background-image: url("/assets/imgs/logo-h.png");

  }
 }
